.App {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0 20px;
}

.App-header {
  background-color: #282c34;
  padding: 20px 0;
  color: white;
}

.App-main,
* {
  border-bottom: 1px solid #bbb;
}

.App-footer {
}
